.post-container {
  height: 100%;
  padding-right: 79px;
  padding-left: 79px;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #EBFCFF
}

.new-post-btn {
  display: flex;
  align-items: center;
  background-color: #AF273E;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: none;
}


.create-button-container {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.create-new-btn-text {
  font-weight: 600;
  font-size: 16px;
  font-weight: 24px;
  margin-left: 8px;

}